<div class="service_assurance">
    <!--part3 title-->
    <div class="title">
        <div class="title_img"></div>
        <div class="title_text">服务保障</div>
    </div>

    <!--part3 content-->

    <div class="service_assurance_content">

            <!--资金安全-->

            <div class="security">
                <div class="security_img"></div>
                <div class="security_text all_text">
                    <h3 class="security_title">资金安全</h3>
                    <img src="../../images/text_line.png">
                    <div class="text">
                        <p>与第三方支付合作</p>
                        <p>保证企业资金安全</p>
                    </div>

                </div>

            </div>

            <!--效率提升-->

            <div class="efficiency">
                <div class="efficiency_img"></div>
                <div class="efficiency_text all_text">
                    <h3 class="efficiency_title">效率提升</h3>
                    <img src="../../images/text_line.png">
                    <div class="text">
                        <p>自动算薪发薪</p>
                        <p>hr效率大大提升</p>
                    </div>


                </div>

            </div>


            <!--专业客服-->

            <div class="customer">
                <div class="customer_img"></div>
                <div class="customer_text all_text">
                    <h3 class="customer_title">专业客服一对一全程服务</h3>
                    <img src="../../images/text_line.png">
                    <div class="text">
                        <p>资深客服在线提供咨询服务</p>
                        <p>有问必答</p>
                    </div>


                </div>

            </div>
    </div>


</div>