<div class="jx_banner">
    <div class="jx_banner_content">
        <div class="jx_banner_txt">
            <p>用嘉薪</p>
            <span>企业</span>
            <span class="txt_bold">算薪 发薪</span>
            <span>一步到位</span>
        </div>
        <div class="jx_banner_img"></div>
    </div>

</div>