<div class="business_process">
    <!--part2 title-->
    <div class="title">
        <div class="title_img"></div>
        <div class="title_text">业务流程</div>
    </div>

    <!--content-->
    <div class="content_box">
        <p class="text_jx">嘉薪</p>
        <p class="text_zdsx">自动算薪</p>
        <p class="text_qy">企业</p>
        <p class="text_shebao">自行缴纳社保、公积金</p>
        <p class="text_gzdk">工资打款</p>
        <p class="text_ygzh">员工嘉薪账户</p>
        <p class="text_tixian">发起提现</p>
        <p class="text_disanf">第三方支付机构</p>
        <p class="text_xzff">薪资发放</p>
        <p class="text_gryhk">员工个人银行卡</p>
    </div>
</div>