<div class="footer">
    <div class="jx_footer">
        <div class="jx_footer_info">
            <div class="service">
                <img class="logo" src="../images/icon_logo_orange.png"></img>
                <p>客服电话：021-64280689</p>
                <p>咨询时间：周一至周五 （9:00-17:30）</p>
            </div>
            <div class="contact">
                <p class="title">CONTACT</p>
                <div class="add">
                    <p>地址：上海市徐汇区虹桥路808号 </p>
                    <p>加华商务中心D5栋3楼</p>
                </div>
            </div>
         </div>
        <!--<div class="jx_footer_provider">-->
            <!--<div class="icp">网站备案号：沪ICP备14041032</div>-->
            <!--<div class="copyright">Copyright 2014-2017 www.aisalary.cn All Rights Reserved</div>-->
        <!--</div>-->
    </div>
</div>