
    <div class="jx_nav">

        <div class="jx_nav_content">
            <!-- jx logo -->
            <a class="jx_nav_logo">
                <img src="../images/icon_logo_white.png">
            </a>

            <!--jx 电话-->
            <div class="jx_nav_phone">
                <img src="../images/icon_phone.png">
                <span class="phone_number">021-64280689</span>
            </div>
        </div>

    </div>
