<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>嘉薪首页</title>
</head>
<body>


<!-- 首页banner-->

<%- include('../component/homepage/pageone.ejs')%>

<!--业务流程-->
<%- include('../component/homepage/pagetwo.ejs')%>

<!--服务保障-->
<%- include('../component/homepage/pagethree.ejs')%>

<!--底部导航-->
<%- include('../component/basic/bottomFooter.ejs')%>


</body>
</html>